<!-- Componente principal de la aplicación -->
<div class="container">
	<h1>Prueba técnica - Estudio Faser</h1>
	<p>Por favor, para ordenar ascendentemente o descendentemente seleccione cualquier encabezado</p>
	<p>El ordenamiento ascendente o descendente se efectua dependiendo a que encabezado usted seleccione</p>
	<h2>Listado de tareas</h2>
	<!-- Formulario para desplegar las tareas -->
	<table>
		<thead>
			<tr>
				<th (click)="ordenarPor('id')">ID de Tarea</th>
				<th (click)="ordenarPor('titulo')">Título de Tarea</th>
				<th (click)="ordenarPor('minutos')">Minutos</th>
				<th>Seleccionar Tarea</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let tarea of tareas" [ngClass]="{'destacada': tarea.destacada}">
				<td>{{tarea.id}}</td>
				<td>{{tarea.titulo}}</td>
				<td>{{tarea.minutos}}</td>
				<td><input type="checkbox" [(ngModel)]="tarea.seleccionada"></td> <!-- Checkbox para la selección -->
			</tr>
		</tbody>
	</table>
	<hr>
	<!-- Formulario para agregar tareas -->
	<h2>Agregar Nueva Tarea</h2>
	<form (submit)="agregarTarea()">
		<div>
			<label>ID de Tarea</label>
			<input type="number" name="id" [(ngModel)]="nuevaTarea.id" required>
		</div>
		<div>
			<label>Título de Tarea</label>
			<input type="text" name="titulo" [(ngModel)]="nuevaTarea.titulo" required>
		</div>
		<div>
			<label>Minutos</label>
			<input type="number" name="minutos" [(ngModel)]="nuevaTarea.minutos" required>
		</div>
		<button clas="button" type="submit">Agregar</button>
	</form>
	<hr>
	<!-- Formulario para eliminar tareas -->
	<h2>Eliminar Tareas</h2>
	<form (submit)="eliminarTareasSeleccionadas()">
		<button class="button" type="submit">Eliminar</button>
	</form>
	<hr>
	<!-- Formulario para destacar tareas seleccionadas -->
	<h2>Destacar Tareas Seleccionadas</h2>
	<form (submit)="destacarTareasSeleccionadas()">
		<button class="button" type="submit" [disabled]="!hayTareasSeleccionadas()">Destacar Tareas Seleccionadas</button>
	</form>
</div>